sqlalchemy
psycopg
psycopg-binary
pydantic
pydantic-settings
sqlmodel
starlette
itsdangerous
fastapi
uvicorn
pika
passlib[bcrypt]
bcrypt<4.1
python-jose[cryptography]
Jinja2
python-multipart
pytest
httpx
